@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Libre Baskerville", "PT Serif", Georgia, "Times New Roman",
    serif;
  @apply bg-white text-stone-900 m-0 text-base mb-24;
}

p,
ul {
  @apply mb-6 sm:mb-4;
}

ul {
  @apply pl-8 pr-8 sm:pr-0;
}

li {
  @apply mb-6 sm:mb-4;
}

[data-illus-inline] {
  @apply mb-2;
}

a {
  @apply text-blue-600 no-underline;
}

a:hover,
a:focus,
a:active {
  @apply text-blue-500 no-underline border-none;
}

img.project-image {
  @apply mx-auto aspect-video object-cover border;
}

a:hover img {
  filter: url("#hyperlink");
}

h2 {
  @apply text-3xl font-bold mb-4;
}

h3 {
  @apply text-lg font-bold;
}

.cell-desc {
  @apply italic text-gray-600;
}

a:hover .cell-desc {
  @apply text-inherit;
}

.center-col {
  @apply mx-auto max-w-2xl mt-10;
}

.center-col-with-heading {
  @apply mx-auto max-w-2xl relative my-24;
  /* lg:left-28 */
}

.heading {
  /* @apply absolute left-0 text-right -translate-x-full w-72 */
  @apply text-center sm:text-left xl:text-right xl:absolute xl:-left-72 xl:w-56;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
