*.pyc
*~

# These are build output files
/necklaces.js
/index.html
/constructncount.html
/constructncount.js
/coloring.js
/coloring2.js
/gate.html
/gate.js
/scheduler.html
/scheduler.js
/scheduler2.js
/twogames.html
/utils.js
/anim.html
/anim.js

/silly
/old
/mathjax
