body {
    font-family: "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: .1em;
    margin-top: .1em;
}

path.disk {
    fill: white;
    stroke: steelblue;
}

path.highlightDisk {
    fill: lightgray;
    stroke: none;
}

path.main {
    fill: #66A2D4;
}

path.highlight {
    fill: steelblue;
}

rect.sortHighlight, path.sortLabelHighlight {
    fill: #DDDDDD;
    stroke: none;
}

.sticky {
    position: fixed;
    left: 8px;
    top: 0px;
}